<h3 class="align-content-center text-center">Arena</h3>
<div class="container">
    <div class="row">
        <div class="col-9" tabindex="0" @onkeydown="(KeyboardEventArgs e) => { OnKeyDown.InvokeAsync(e); StateHasChanged(); }" id="@ID">
            <table style="width:100%;">
                @for (int l = 0; l < Lines; l++)
                {
                    <tr>
                        @for (int c = 0; c < Columns; c++)
                        {
                            <td width="@w_cel" height="@h_cel" class="@(GArena.Slots[l, c]?.Color(ID)) "></td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Collector</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < GArena.Users.Count; i++)
                    {
                        <tr>
                            <td>@GArena.Users.OrderByDescending(q => q.Score).ThenBy(q => q.Name).ElementAt(i).Name</td>
                            <td>@GArena.Users.OrderByDescending(q => q.Score).ThenBy(q => q.Name).ElementAt(i).Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@code {
    [Parameter] public int Lines { get; set; } = 5;
    [Parameter] public int Columns { get; set; } = 5;
    [Parameter] public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }
    [Parameter] public string ID { get; set; }

    #region Screen proprieties
    private int w_table { get => 600; }
    private int h_table { get => 400; }
    private int w_cel { get => w_table / Columns; }
    private int h_cel { get => h_table / Lines; }
    #endregion

    public Data.Arena GArena { get; set; }


    protected override void OnInitialized()
    {
        GArena = new Data.Arena(Lines, Columns);

        base.OnInitialized();
    }

}
